<div layout="column">
        <div class="section-header" flex>            
            <h3> 
                <span layout-padding class="icon {{section.icon}}"></span>{{ section.title | translate}}
            </h3>           
        </div>
        <div [ngSwitch]="section.type" layout="column" flex>            
                <div *ngSwitchCase="'language'" layout="column">                    
                    <div layout="row" flex="33" *ngFor="let itm of section.itemList">
                        <span class="icon">{{itm.level}}</span>
                        <h4>{{itm.name}}</h4>
                    </div>                
                </div>

                <div *ngSwitchCase="'education'" flex="100" layout="column">  
                    <div layout-padding layout="row" *ngFor="let itm of section.itemList">
                        <div flex="25">
                            <h4> {{itm.institute}},{{itm.country}}</h4>		
                        </div>
                        <div layout="column" flex=50>
                            <label>{{itm.name}}</label>
                            <p>{{itm.details}}</p>
                        </div>
                        <div flex=25>
                            <label> {{itm.dateFrom}}-{{itm.dateTo}} </label>
                        </div>
                    </div>
                </div>		     
                                
                <div *ngSwitchCase="'experience'" flex="100" layout="column">
                    <div layout="row" *ngFor="let itm of section.itemList">
                        <div flex="25">
                            <h4>{{itm.company}},{{itm.country}}{{itm.city}}</h4>		
                        </div>
                        <div layout="column" flex="50">
                            <label>{{itm.name}}</label>
                            <p>{{itm.details}}</p>                            
                        </div>
                        <div flex="25">
                            <label>{{itm.dateFrom}}-{{itm.dateTo}}</label>
                        </div>
                    </div>		
                </div>
                <div *ngSwitchCase="'skills'" layout="row">                     
                        <div flex="50" *ngFor="let c of section.itemList">
                            <div flex="33">
                                <h4>{{c.name}}</h4>
                            </div>
                            <div layout="column" flex="66">
                                <div layout="row" *ngFor="let itm of c.itemList">                                
                                    <div flex="33">
                                        <label> {{itm.name}}</label>
                                    </div>
                                    <div flex="66">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="4*10" 
                                                aria-valuemin="0" aria-valuemax="100" [style.width]="itm.level*10">
                                                {{itm.level*10}}%
                                            </div>
                                        </div>  
                                    </div>          
                                </div>            
                            </div>
                        </div>                        
                </div>
                <div *ngSwitchCase="'certificate'" flex="100" layout="column">
                    <div layout="row" *ngFor="let itm of section.itemList">
                        <div flex="25">
                            <h4>{{itm.name}},{{itm.authority}}</h4>		
                        </div>
                        <div layout="column" flex="50">
                            <label>{{itm.url}}</label>
                            <p>{{itm.details}}</p>
                        </div>
                        <div flex="25">
                            <label>{{itm.issuDate}}</label>
                        </div>
                    </div>		
                </div>
                <div *ngSwitchCase="'award'" flex="100" layout="column">
                    <div layout="row" *ngFor="let itm of section.itemList">
                        <div flex="25">
                            <h4>{{itm.title}},{{itm.presentedBy}}</h4>		
                        </div>
                        <div layout="column" flex="50">
                            <label>{{itm.url}}</label>
                            <p>{{itm.details}}</p>
                        </div>
                        <div flex="25">
                            <label>{{itm.date}}</label>
                        </div>
                    </div>		
                </div>
                <div *ngSwitchCase="'publication'" flex="100" layout="column">
                    <div layout="row" *ngFor="let itm of section.itemList">
                        <div flex="25">
                            <h4>{{itm.name}},{{itm.publisher}}</h4>		
                        </div>
                        <div flex="50">                
                            <p>{{itm.details}}</p>          
                        </div>
                        <div layout="column" flex="25">
                            <label> {{itm.date}}</label>
                            <a href="{{itm.url}}">{{itm.url}}</a>
                        </div>
                    </div>		
                </div>
                <div *ngSwitchCase="'reference'" flex="100" layout="column">
                    <div layout="column" *ngFor="let itm of section.itemList">
                        <div layout="row">
                            <div flex="50">
                                <h4> {{itm.name}},{{itm.company}}</h4>		
                            </div>
                            <div flex="50">
                                <label>{{itm.email}}</label>		
                            </div>
                        </div>
                        <div flex="100">                
                            <p>{{itm.details}}</p>          
                        </div>        
                    </div>                	
                </div>
                <div *ngSwitchCase="'volunteering'" flex="100" layout="column">
                    <div layout="row" *ngFor="let itm of section.itemList">
                        <div flex="25">
                            <h4>
                                {{itm.name}},{{itm.country}}
                                {{itm.city}}
                            </h4>		
                        </div>
                        <div layout="column" flex="50">
                            <label>{{itm.role}}</label>
                            <p>{{itm.details}}</p>
                        </div>
                        <div flex="25">
                            <label>{{itm.dateFrom}} - {{itm.dateTo}}</label>
                        </div>
                    </div>	
                </div>
                <div *ngSwitchCase="'hobby'" layout="row">                    
                    <div layout="column" flex="25" *ngFor="let itm of section.itemList">
                        <span class="icon {{itm.icon}}"></span>
                        <h4>{{itm.name}}</h4>
                    </div>                    
                </div>
                <div *ngSwitchCase="'other-text'" layout="column">                		
                    <p>{{section.itemList}}></p>
                </div>
        </div>       
    </div>