<div layout="column" layout-align="center">
  <h2>{{title | translate }}</h2>
  <form [formGroup]="signupForm" (submit)="signup()" novalidate>
    <div layout="column">
      <div *ngIf="submitAttempt && signupError" layout-align="center">
        <p>{{ 'Cannot Sign Up' | translate }}</p>
      </div>
      <md-input #email placeholder="{{ 'Email' | translate }}" name='email' formControlName="email" type="email" (change)="elementChanged(email)"
        [class.invalid]="!signupForm.controls.email.valid && (emailChanged || submitAttempt)">
      </md-input>
      <md-input #password placeholder="{{'Password' | translate }}" name='password' formControlName="password" type="password"
        (change)="elementChanged(password)" [class.invalid]="!signupForm.controls.password.valid &&(passwordChanged || submitAttempt)">
      </md-input>
      <button md-button type="submit">{{ 'Sign Up' | translate }}</button>
    </div>    
  </form>
</div>