<!--<td-layout #layout sidenavTitle="Covalent" logo="../assets/icons/teradata.svg" displayName="">
  <td-layout-nav logo="../../assets/icons/teradata.svg">
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>سيرتي</span>
    <span flex></span>
    <a md-icon-button md-tooltip="Home" routerLink="/home">Home</a>    
    <a md-icon-button md-tooltip="Dashboard" *ngIf="authService.user" routerLink="resume-version" >Dashboard</a>
    <a md-icon-button md-tooltip="LogIn" *ngIf="!authService.user" routerLink="auth" routerLinkActive="active">Login</a>
    <a md-icon-button md-tooltip="LogOut" *ngIf="authService.user"(click)="authService.logout()">LogOut</a>       
  </div>-->
 
  <router-outlet></router-outlet>
  <!-- Sample Change-->
  <!--</td-layout-nav>-->
  <!--<a md-fab  color="accent" class="md-fab-position-bottom-right" style="bottom: 8px;">
    <md-icon>add</md-icon>
  </a>-->
<!--</td-layout>-->
<!--<router-outlet></router-outlet>-->

