<form #sectionFrm = "ngForm" >
		<div layout="row" layout-align="space-between center">
			<md-input flex="45" style="max-width: 48%;" placeholder="{{ 'Name' | translate }}" [(ngModel)]="item.name" required name="name" #name="ngModel"></md-input>
			<md-input flex="45" style="max-width: 48%;" placeholder="{{ 'Authority' | translate }}" [(ngModel)]="item.authority" name="authority"></md-input>
		</div>
		<div layout="row" layout-align="space-between center">
			<md-input flex="45" style="max-width: 48%;" type="url" placeholder="{{ 'URL' | translate }}" [(ngModel)]="item.url" name="url"></md-input>
      <md-input flex="45" style="max-width: 48%;" type="date" placeholder="{{ 'Issued Date' | translate }}" [(ngModel)]="item.date" name="date"></md-input>
		</div>			
    <div layout="row" layout-align="space-between center">		
			<md-textarea flex="100" placeholder="{{ 'Description' | translate }}" [(ngModel)]="item.details" name="details"></md-textarea>
		</div>
</form>