<div layout="column">
  <h2>{{title | translate }}</h2>
  <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>
    <div layout="column">
      <md-input #email name='email' formControlName="email" type="email" (change)="elementChanged(email)" placeholder="Your email address"
        [class.invalid]="!resetPasswordForm.controls.email.valid && (emailChanged || submitAttempt)">
      </md-input>
      <button md-button type="submit">{{ 'Reset your Password' | translate }}</button>
    </div>
  </form>
</div>