<md-card-content>
  <div layout="row" layout-wrap hide-xs hide-sm>
    <div *ngFor="let categ of section.itemList">
        <button md-icon-button type="button" class="close" (click)="removeItem(section.itemList.indexOf(categ))"><md-icon>close</md-icon></button>
        <skill-category [section]="categ"></skill-category>
    </div>
  </div>
</md-card-content>
<md-divider></md-divider>
<md-card-actions layout="row">
	<a md-button (click)="addItem()">{{ 'Add Category' | translate }}</a>
</md-card-actions>