<form #sectionFrm = "ngForm" >
    <div layout="row" layout-align="space-between center">
      <md-input flex="45" style="max-width: 48%;" placeholder="{{ 'Job Title' | translate }}" [(ngModel)]="item.name" required name="name" #name="ngModel"></md-input>
      <md-input flex="45" style="max-width: 48%;" placeholder="{{ 'Company' | translate }}" [(ngModel)]="item.company" name="company"></md-input>
    </div>
    <div layout="row" layout-align="space-between center">
        <md-input flex="45" style="max-width: 48%;" placeholder="{{ 'Country' | translate }}" [(ngModel)]="item.country" name="country"></md-input>
        <md-input flex="45" style="max-width: 48%;" placeholder="{{ 'City' | translate }}" [(ngModel)]="item.city" name="city"></md-input>
			</div>
		<div layout="row" layout-align="space-between center">
			<md-input flex="45" style="max-width: 48%;" type="date" placeholder="{{ 'From' | translate }}" [(ngModel)]="item.dateFrom" name="dateFrom"></md-input>
      <md-input flex="45" style="max-width: 48%;" type="date" placeholder="{{ 'To' | translate }}" [(ngModel)]="item.dateTo" name="dateTo"></md-input>
		</div>			
    <div layout="row" layout-align="space-between center">		
			<md-textarea flex="100" placeholder="{{ 'Description' | translate }}" [(ngModel)]="item.details" name="details"></md-textarea>
		</div>
</form>