<md-card-content>
	<div *ngFor="let itm of section.itemList">
		<button md-icon-button type="button" class="close" (click)="removeItem(section.itemList.indexOf(itm))"><md-icon>close</md-icon></button>
		<td-expansion-panel label="{{itm.name || 'Degree' | translate }}" (click)="itemSelected(section.itemList.indexOf(itm))" [expand]="currentItemIndex == section.itemList.indexOf(itm)">
			<div class="md-padding">
				<certificate-item [item]="itm"></certificate-item>
			</div>
		</td-expansion-panel>
	</div>
</md-card-content>
<md-divider></md-divider>
<md-card-actions layout="row">
	<a md-button (click)="addItem()">{{ 'Add Item' | translate }}</a>
</md-card-actions>